{{define "all"}}
{{template "header" .}}
{{template "nav" .}}

<div class="container text-center">

    <h1>Welcome to All</h1>
    <p>Enjoy the most recent posts by all users</p>

    {{ range .PagePosts }}
        <div class="card my-4">
            <h4 class="card-header">Post By <a href="/user/?id={{.UserID}}">{{ .Author }}</a> on {{ .PostDate.Format "2006-01-02"}}</h4>
            <div class="card-body">
                <h5 class="card-title">{{ .PostTitle }}</h5>
                <p class="card-test">{{ .PostContent }}</p>
            </div>
            <div class="card-footer ">{{.NumOfLikes}} Likes | {{.NumComments}} Comments</div>
        </div>
    {{ end }}
</div>

{{template "footer" .}}
{{end}}