{{define "userprofile"}}
{{template "header" .}}
{{template "nav" .}}

<div class="container">
    <main class="jumbotron">
        <div class="text-center p-5">
        <h1>{{ .TheUser.Username }}</h1>
        <hr>
        <p class="lead">{{ .TheUser.AboutUser }}</p>
        </div>
        {{ if .IsOwner }}
        <!-- Display edit and delete user buttons if the user is the owner -->
        <a href="/user/edit" class="btn btn-primary">Edit Profile</a>
        <a href="/user/delete" class="btn btn-warning">Delete User</a>
        {{ else }} {{if .IsFollower }}
        <form class="form-inline my-2 mx-2 my-lg-0" action="/user/unfollow/?id={{.TheUser.UserID}}" method="post">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Unfollow User</button>
        </form>
        {{ else }}
        <form class="form-inline my-2 mx-2 my-lg-0" action="/user/follow/?id={{.TheUser.UserID}}" method="post">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Follow User</button>
        </form>
        {{ end }}{{end }}
   </main>

    <div class="text-center p-5">
        <h1>{{ .TheUser.Username }}'s recent posts</h1>
        <hr>
    </div>
    {{ range .TheUser.UserPosts }}
        <div class="card my-4">
            <h4 class="card-header">Post By <a href="/user/?id={{.UserID}}">{{ .Author }}</a> on {{ .PostDate.Format "2006-01-02"}}</h4>
            <div class="card-body">
                <h5 class="card-title">{{ .PostTitle }}</h5>
                <p class="card-test">{{ .PostContent }}</p>
                <a href="/post/?id={{.PostID}}" class="btn btn-primary">View comments</a>
            </div>
            <div class="card-footer">{{.NumOfLikes}} Likes | {{.NumComments}} Comments</div>
        </div>
    {{ end }}
</div>

{{template "footer" .}}
{{end}}